body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #262626;
  width: 250px;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 9;
}

body nav ul {
  margin: 0;
  padding: 20px 0;
}

body nav ul li {
  list-style: none;
}

body nav ul li a {
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body nav .navBtn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background: #f5f5f5;
  border: none;
  outline: none;
}

body nav .navBtn span {
  display: block;
  width: 35px;
  height: 3px;
  background: #262626;
  position: absolute;
  top: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

body nav .navBtn span:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #262626;
  -webkit-transition: .3s;
  transition: .3s;
}

body nav .navBtn span:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #262626;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40vw;
          flex: 0 1 40vw;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background-image: url(../image/white.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#first img {
  width: 50%;
}

#second {
  height: 50vh;
  background-image: url(../image/white.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#about_page {
  width: 100vw;
}

#about_page .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

#about_page .about-info p, #about_page .about-info h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

#about_page .about-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

#about_page .about-info a .btn {
  margin: 0;
}

#about_page .about-info a:hover {
  background: #f4f4f4;
}

#about_page img {
  width: 100%;
  height: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #232323;
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

footer ul a {
  color: inherit;
  margin: 10px;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

footer .info span {
  font-size: 0.85rem;
  font-style: italic;
}

@media (min-width: 500px) {
  #home_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  #home_page #first {
    height: 100vh;
  }
  #home_page #second {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */