@mixin height{height: 100%;}
body{
    // background-color: red;
    @include height;
    // header{nav{background-image: url(../image/white.jpg);}}  !!! background nav !!!
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        flex-grow: 1;
        }
}

#first{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right:1rem;
    padding-left:1rem;
    background-image: url(../image/white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    img{width: 50%;}
}
#second{
    height: 50vh;
    background-image: url(../image/white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: flex-end;;
    // flex: 0 1 60vw;
    
    
}
#about_page{
    width: 100vw;
    .immage{
        img{
            width: 100%;
            height: auto;
        }
    }
}
footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    // align-content: center;
    // padding: 1rem;
    background-color:#232323;
    color: white;
    ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
        
        a{
            color: inherit;
            margin: 10px;
            // margin: 0 1rem;
        }
    }
   
    .info{
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        margin-bottom: 10px;
        span{
            font-size: 0.85rem;
            font-style: italic;
        }
    }
    
}
/* Screen Size 500px and Up */
// @media(min-width:500px){
//     #home_page{
//         display: flex;
//         height: 100%;
   
//         #first{
//             height: 100vh;
//         }
//         #second{
//             height: 100vh;
//         }
//     }
// }