@mixin height{height: 100%;}
body{
    // background-color: red;
    @include height;
    // header{nav{background-image: url(../image/white.jpg);}}  !!! background nav !!!
}
#first{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right:1rem;
    padding-left:1rem;
    background-image: url(../image/white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    img{width: 50%;}
}
#second{
    background-image: url(../image/white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    // height: 50vh;
    flex: 0 1 60vw;
    align-self: flex-end;
    .carousel-item{ height:100vh;
        width: auto;}
}

/* Screen Size 500px and Up */
@media(min-width:500px){
    #home_page{
        display: flex;
        height: 100%;
   
        #first{
            height: 100vh;
        }
        #second{
            height: 100vh;
        }
    }
}